.header {
    background-color: #FFc649;
    height:80px;
    color:white;
    border-radius: 15px 15px 0 0;
}

.main-area {
    background-color: #F0F0E1;
    min-height:1000px;
    border-radius: 0 0 15px 15px;
}

.darkprimary {
    background-color: #ffaa34;
}

.primary {
    background: #ffc649;
}

.lightprimary {
    background: #FFE0B2;
}

.accent {
    background: #607D8B;
}

.primarytext {
    color: #212121;
}

.secondarytext {
    color: #727272;
}

.dividercolor {
    border-color: #B6B6B6;
}

.color0 {
    background-color: #e5193c;
}
.color1 {
    background-color: #86711d;
}
.color2 {
    background-color: #c2c222;
}
.color3 {
    background-color: #29a229;
}
.color4 {
    background-color: #1998b2;
}
.color5 {
    background-color: #3d62f4;
}
.color6 {
    background-color: #ac2bed;
}
.color7 {
    background-color: #e519c2;
}
.cellWidth {
    width:120px;
}