.header {
    background-color: #FFc649;
    height:65px;
    color:white
}

.main-area {
    background-color: #F0F0E1;
    min-height:1000px;
}

.darkprimary {
    background-color: #ffaa34;
}

.primary {
    background: #ffc649;
}

.lightprimary {
    background: #FFE0B2;
}

.accent {
    background: #607D8B;
}

.primarytext {
    color: #212121;
}

.secondarytext {
    color: #727272;
}

.dividercolor {
    border-color: #B6B6B6;
}

.color0 {
    background-color: #f9ad81;
}
.color1 {
    background-color: #fff79a;
}
.color2 {
    background-color: #a2d39c;
}
.color3 {
    background-color: #7bcdc8;
}
.color4 {
    background-color: #7ea7d8;
}
.color5 {
    background-color: #8882be;
}
.color6 {
    background-color: #bc8dbf;
}
.color7 {
    background-color: #f6989d;
}